/* @font-face {
  font-family: "Akzidenz-Grotesk";
  src: url("/fonts/akzidenz-grotesk-pro-regular.woff2") format("woff2"),
    url("/fonts/akzidenz-grotesk-pro-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Akzidenz-Grotesk-Medium";
  src: url("/fonts/akzidenz-grotesk-pro-medium.woff2") format("woff2"),
    url("/fonts/akzidenz-grotesk-pro-medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
} */